<!DOCTYPE html>
<html lang="en">
  <%- include('../components/head.ejs') -%>
  <body>
    <%- include('../components/header/index.ejs') -%>
    <img height="200" width="300" src="../../../public/imgs/index.jpg" alt="">
    <h2>Contacts ...</h2>
  </body>
</html>
