<footer>
  <div class="footer-counteiner">
    <div class="columb">
      <ul class="first-colum colum">
        <!-- <li><img src="../../public/imgs/logo.png" alt="" /></li> -->
        <li>
          Dribbble is the world’s leading community for creatives to share,
          grow, and get hired.
        </li>
        <i class="fab fa-glide"></i>
        <i class="fab fa-cc-apple-pay"></i>
        <i class="fab fa-cc-jcb"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-visa"></i>
      </ul>
    </div>

    
  <%- include('./footerMenu.ejs', {
    footerMenu: [
        [
          {text: 'For designers', isLink: false},
          {text: 'Explore design work', isLink: true},
          {text: 'Design blog', isLink: true},
          {text: 'Overtime podcast', isLink: true},
          {text: 'Dribble meetups', isLink: true},
          {text: 'Playoffs', isLink: true},
          {text: 'Weekley Warm-Up', isLink: true},
          {text: 'Code of conduct', isLink: true},
        ],
        [
          {text: 'Hire designers', isLink: false},
          {text: 'Explore design work', isLink: true},
          {text: 'Design blog', isLink: true},
          {text: 'Overtime podcast', isLink: true},
          {text: 'Brands', isLink: false},
          {text: 'Playoffs', isLink: true},
          {text: 'Weekley Warm-Up', isLink: true},
        ],
        [
          {text: 'Company', isLink: false},
          {text: 'Explore design work', isLink: true},
          {text: 'Design blog', isLink: true},
          {text: 'Overtime podcast', isLink: true},
          {text: 'Dribble meetups', isLink: true},
          {text: 'Playoffs', isLink: true},
          {text: 'Weekley Warm-Up', isLink: true},
          {text: 'Dribble meetups', isLink: true},
          {text: 'Playoffs', isLink: true},
          {text: 'Weekley Warm-Up', isLink: true},
          {text: 'Code of conduct', isLink: true},
        ],
        [
          {text: 'Directories', isLink: false},
          {text: 'Explore design work', isLink: true},
          {text: 'Design blog', isLink: true},
          {text: 'Overtime podcast', isLink: true},
          {text: 'Design asset', isLink: false},
          {text: 'Playoffs', isLink: true},
          {text: 'Weekley Warm-Up', isLink: true},
        ],
      ]
  }) %> 




    <div class="columb">
      <ul class="six-colum colum">
        <!-- <img src="../../public/imgs/six-colom.jpg" width="140" height="100"/> -->
        <li>
          Get a domain and create a website with Squarespace. Start your free
          trial today.
        </li>
        <li><a href="">ADVERTISE ON DRIBBBLE</a></li>
        <li><a href="">ADVERTISE ON DRIBBBLE</a></li>
      </ul>
    </div>
  </div>
</footer>
<hr />
<div class="footer-bot">
  <div>© 2020 Dribbble. All rights reserved.</div>
  <div>Made with ♥ remotely from Куприянов Евгений Александрович</div>
  <div>
    <!-- 14,236,114 shots dribbbled <img class = "ball" src="../../public/imgs/ball.svg" width="20" height="20"/> -->
  </div>
</div>
