// GLOBAL VARIABLES

/*********************************************************/
/********************* SECTION VARIABLES *****************/
/*********************************************************/
$headerHeight: 50px;
$footerHeight: 50px;


/*********************************************************/
/****************** TYPOGRAPHY VARIABLES *****************/
/*********************************************************/

$fontSize: 16px;
$fontWeight: 600;
$lineHeight: 22px;
$fontFamily: 'Open Sans';
$defaultFont: normal $fontWeight $fontSize $lineHeight $fontFamily;


/*********************************************************/
/********************* FORM VARIABLES ********************/
/*********************************************************/

// Form
$formElementHeight: 56px;
$formElementWidth: 117px;
// Section
$sectionOffsetHorizontal: 60px;
$sectionOffsetVertical: 10px;


/*********************************************************/
/********************* COLOR VARIABLES *******************/
/*********************************************************/

// Section
$colorSectionBG: #3f51b5;
$colorSectionText: #fff;
$colorSectionHeaders: #252422;
// Form
$colorFormElementBG: gray;
$colorNavFormElementBG: gray;
$colorFormElementText: black;
