<head>
    <%
      if (typeof description === 'undefined')  description = 'placeholder';
      if (typeof keywords === 'undefined') keywords = ['placeholder'];
      if (typeof author === 'undefined') author = 'placeholder';
      if (typeof title === 'undefined') title = 'placeholder';
    %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
  </head>